<div class="head">
  CALCULATOR 
</div>


<table >
  <tr style="height: 50px;">
    <th class="subDisplay" colspan="4">{{input1}}</th>
  </tr>

  <tr style="height: 100px;">
    <th class="mainDisplay" colspan="4">{{result}}</th>
  </tr>

  <tr>
    <td><button (click)="clearButton()">C</button></td>
    <td><button (click)="pressOperator('/')">/</button></td>
    <td><button (click)="pressOperator('*')">x</button></td>
    <td><button (click)="pressOperator('-')">-</button></td>
  </tr>

  <tr>
    <td><button (click)="pressNumber('7')">7</button></td>
    <td><button (click)="pressNumber('8')">8</button></td>
    <td><button (click)="pressNumber('9')">9</button></td>
    <td rowspan="2"><button (click)="pressOperator('+')">+</button></td>
  </tr>

  <tr>
    <td><button (click)="pressNumber('4')">4</button></td>
    <td><button (click)="pressNumber('5')">5</button></td>
    <td><button (click)="pressNumber('6')">6</button></td>
    
  </tr>

  <tr>
    <td><button (click)="pressNumber('1')">1</button></td>
    <td><button (click)="pressNumber('2')">2</button></td>
    <td><button (click)="pressNumber('3')">3</button></td>
    <td rowspan="2"><button (click)="finalAnswer('=')">=</button></td>
  </tr>

  <tr>
    <td colspan="2"><button (click)="pressNumber('0')">0</button></td>
    <td><button (click)="pressNumber('.')">.</button></td>
  </tr>

</table>

<router-outlet></router-outlet>